<?xml version="1.0" encoding="UTF-8"?>
	<web-app xmlns="http://java.sun.com/xml/ns/javaee"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
			 id="WebApp_ID" version="3.0">
	<display-name>Resource Manager</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<icon>
		<small-icon>/img/icon.png</small-icon>
	</icon>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<servlet>
		<servlet-name>Ressources</servlet-name>
		<servlet-class>com.amt.schedule.controller.Ressources</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ressources</servlet-name>
		<url-pattern>/ressources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>users</servlet-name>
		<servlet-class>com.amt.schedule.controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>classroom</servlet-name>
		<servlet-class>com.amt.schedule.controller.ClassroomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>classroom</servlet-name>
		<url-pattern>/classroom</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>courses</servlet-name>
		<servlet-class>com.amt.schedule.controller.CourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>courses</servlet-name>
		<url-pattern>/courses</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>lectures</servlet-name>
		<servlet-class>com.amt.schedule.controller.LectureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lectures</servlet-name>
		<url-pattern>/lectures</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>times</servlet-name>
		<servlet-class>com.amt.schedule.controller.TimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>times</servlet-name>
		<url-pattern>/times</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>roles</servlet-name>
		<servlet-class>com.amt.schedule.controller.RoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>roles</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.amt.schedule.controller.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/admin.jsp</url-pattern>
	</filter-mapping>
</web-app>