<?xml version="1.0" encoding="UTF-8"?>
	<web-app xmlns="http://java.sun.com/xml/ns/javaee"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
			 id="WebApp_ID" version="3.0">
	<display-name>Resource Manager</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<icon>
		<small-icon>/img/icon.png</small-icon>
	</icon>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<servlet>
		<servlet-name>Cours</servlet-name>
		<servlet-class>com.amt.schedule.controller.CourS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cours</servlet-name>
		<url-pattern>/cours</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Traineaux</servlet-name>
		<servlet-class>com.amt.schedule.controller.TraineauS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Traineaux</servlet-name>
		<url-pattern>/traineaux</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Ressources</servlet-name>
		<servlet-class>com.amt.schedule.controller.Ressources</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ressources</servlet-name>
		<url-pattern>/ressources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Salles</servlet-name>
		<servlet-class>com.amt.schedule.controller.SalleS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Salles</servlet-name>
		<url-pattern>/salles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Utilisateurs</servlet-name>
		<servlet-class>com.amt.schedule.controller.UtilisateurS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Utilisateurs</servlet-name>
		<url-pattern>/utilisateurs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Evenements</servlet-name>
		<servlet-class>com.amt.schedule.controller.EvenementS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Evenements</servlet-name>
		<url-pattern>/evenements</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Types</servlet-name>
		<servlet-class>com.amt.schedule.controller.TypeS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Types</servlet-name>
		<url-pattern>/types</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Niveaux</servlet-name>
		<servlet-class>com.amt.schedule.controller.NiveauS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Niveaux</servlet-name>
		<url-pattern>/niveaux</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Plages</servlet-name>
		<servlet-class>com.amt.schedule.controller.PlageS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Plages</servlet-name>
		<url-pattern>/plages</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.amt.schedule.controller.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<servlet-name>Cours</servlet-name>
		<servlet-name>Traineaux</servlet-name>
		<servlet-name>Salles</servlet-name>
		<servlet-name>Ressources</servlet-name>
		<servlet-name>Plages</servlet-name>
		<url-pattern>/plan</url-pattern>
		<url-pattern>/cours</url-pattern>
		<url-pattern>/ressources</url-pattern>
		<url-pattern>/plages</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/index_.jsp</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/creneau.jsp</url-pattern>
		<url-pattern>/plage.jsp</url-pattern>
		<url-pattern>/evenement.jsp</url-pattern>
		<url-pattern>/salle.jsp</url-pattern>
	</filter-mapping>
</web-app>